#cont {
    border: 1px solid black;
    overflow-y: auto;
    flex-grow:1;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.bubbleLeft{
    background-color: greenyellow;
    padding: 5px;
    border: 1px solid black;
}

.bubbleRight{
    background-color: cyan;
    padding: 5px;
    border: 1px solid black;
    text-align: right;
}